@import url('./reset.css');

@font-face {
  font-family: "Lexend";
  font-weight: 700;
  src: url("/fonts/Lexend/Lexend-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 500;
  src: url("/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  src: url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  background: linear-gradient(to right, #DE482B 50%, #3B77BC 50%);
}

#hero {
  padding: 1em 2em;
  background-color: #3B77BC;
}

.hero-navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-brand {
  font-size: 1.75em;
  color: #F9F9F9;
}

.header-accent {
  color: #FCCF03;
}

.nav-toggle {
  margin-left: auto;
  background-color: transparent;
  border: 0;
  color: #F9F9F9;
  cursor: pointer;
}

.nav-elem-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding-left: 0;
}

.hero-navbar .nav-elem-list {
  display: none;
  height: 0;
}

.hero-navbar .nav-elem-list.open {
  display: flex;
  height: auto;
  transition: height 3s;
}

.nav-elem a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}

.nav-elem button {
  font-weight: 500;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-elem.active a,
.nav-elem button.active {
  border-bottom: 2px solid #FCCF03;
}

.hero-navbar .nav-elem a {
  padding: 1em 0;
  width: 100%
}

.hero-navbar .nav-elem a,
.hero-navbar .nav-elem button {
  color: #F9F9F9;
  display: inline-block;
}
  
.hero-navbar .nav-elem:last-child {
  padding-top: 1em;
}

.hero-image {
  width: 200px;
  height: 200px;
  border: 5px solid #000000;
  margin-left: auto;
  position: relative;
  top: 75px;
  margin-top: -50px;
}

#content {
  background-color: #F9F9F9;
  border-top: 5px solid #000000;
}

.content-spacer {
  display: flex;
  padding: 0 2em;
}

.info-section {
  padding-top: 50px;
}

.info-section section {
  width: 100%;
  min-height: 95vh
}

.info-section h1 {
  color: #DE482B;
  font-size: 2em;
  line-height: 3em;
}
.info-section h2 {
  color: #DE482B;
  font-size: 1.5em;
  line-height: 3em;
}

.info-section h3 {
  color: #FCCF03;
}

#scrollspy {
  display: none;
}

@media only screen and (min-width: 768px) {

  #hero {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 1em 3em;
    border-left: 5px solid #000;
    background-color: #3B77BC;
  }

  .nav-toggle {
    display: none;
  }

  .hero-navbar {
    align-items: baseline;
  }
  
  .hero-navbar .nav-elem-list {
    display: flex;
    margin-left: 2em;
    min-height: auto;
    width: auto;
    background-color: transparent;
    flex-direction: row;
    flex-grow: 1;
  }
  
  .hero-navbar .nav-elem {
    margin-left: 2em;
  }
  
  .hero-navbar .nav-elem:last-child {
    padding-top: 0;
    margin-left: auto;
  }

  .hero-navbar .nav-elem a,
  .hero-navbar .nav-elem button {
    line-height: 1em;
    padding: 0;
    width: auto;
  }

  .content-spacer {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 0 3em;
    border-left: 5px solid #000000;
  }

  .info-section section {
    width: 75%;
    min-height: 95vh
  }

  #scrollspy {
    display: block;
    width: 35%;
    border-left: 5px solid #000000;
  }
  
  .scrollspy-navbar {
    position: fixed;
    top: 300px;
  }
  
  .scrollspy-navbar .nav-elem-list {
    background-color: #FCCF03;
    height: 75vh;
    width: 50vw;
    overflow: hidden;
  }
  
  .scrollspy-navbar .nav-elem {
    width: 100%;
    padding: 1em 1em;
    background-color: #F9F9F9;
  }
  
  .scrollspy-navbar .nav-elem.active {
    border-bottom: 5px solid #000000;
  }
  
  .scrollspy-navbar .nav-elem.active ~ .nav-elem {
    background-color: #FCCF03;
  }

}